.loading-container {
  min-height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  justify-items: center;
  transition: 1s ease;
}

.list-container {
  padding: 30px;
  .toggle-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
  }
  table {
    width: 100%;
  }

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  .mat-row {
    cursor: pointer;
    transition: 0.5s ease;
    &:hover {
      background-color: #dcdcdc;
    }
  }

  td,
  th {
    width: 25%;
  }

  .mat-table {
    width: 100%;
  }

  .mat-elevation-z8 {
    overflow-x: scroll;
  }
}
